[2020-12-18 18:28] david-poindexter commented on #314
@EPTamminga okay, I think you may be on to something there.  Going back and forth between tabs would probably result in less than desirable outcome.  This is certainly an area that could be improved.

[2021-01-14 18:55] zheesaker opened #316 "Unhandled Exception/Error During Installation"
Currently getting this series of messages during the installation process:

![image](https://user-images.githubusercontent.com/77459854/104635402-12aad700-565f-11eb-9220-3bf07e293c81.png)
![image](https://user-images.githubusercontent.com/77459854/104635479-32da9600-565f-11eb-9a87-93db057d98fe.png)

 With these setting configured:

![image](https://user-images.githubusercontent.com/77459854/104635

[2021-01-14 18:56] zheesaker opened #317 "Installation Error"
Currently getting this series of messages during the installation process:

![image](https://user-images.githubusercontent.com/77459854/104635402-12aad700-565f-11eb-9220-3bf07e293c81.png)
![image](https://user-images.githubusercontent.com/77459854/104635479-32da9600-565f-11eb-9a87-93db057d98fe.png)

 With these setting configured:

![image](https://user-images.githubusercontent.com/77459854/104635

[2021-01-14 18:56] #316 closed

[2021-01-14 23:42] david-poindexter commented on #317
@zheesaker `(local)` may not work depending on your local SQL Server instances and their configuration.  You may want to try using the name of the instance just in case it is not configured to use `(local)`.

[2021-02-06 18:33] warcrime96 commented on #313
hello david can i do it?

[2021-02-06 21:17] david-poindexter commented on #313
@warcrime96 PRs are always welcomed for this project!

[2021-02-11 14:18] warcrime96 commented on #313
Can you guide me a little bit,first time contributor ,name the code part tha that need changing it's a huge project and i am kinda lost here but i will do it!

[2021-02-12 15:42] valadas commented on #313
That control name is in a couple of places and it would need to be renamed using the visual editor to cover them all, but it would be in this file: https://github.com/nvisionative/nvQuickSite/blob/41494e3a0baba7fe443cd37c83ecc880fbf9ec46/nvQuickSite/Controls/Sites/ViewExistingSites.Designer.cs#L69

[2021-02-12 18:31] david-poindexter commented on #313
Awesome @warcrime96 - the thing I will reiterate here is that to avoid potential issues, the button name needs to be changed in the form designer rather than directly in close (unless you really know what you are doing in there) as the `*.Designer.cs` files are auto-generated.  So I would just recommend renaming the button in the Properties window of the form designer from `metroButton2` to someth

[2021-02-17 23:33] ainsofs commented on #314
I had this issue. It was complaining about folder permissions. I went back one step and then forward again where the system prompted that a folder existed and if I wanted to delete. When I let it delete the folder. It was able to go to the next step without permissions errors.

FYI the initial folder was created by the tool.

[2021-02-20 19:45] warcrime96 commented on #313
i think i switched it , did it merge?

[2021-02-20 20:26] david-poindexter commented on #313
I am not quite sure what you mean.  I am not seeing any pending pull request, but will happily review if you submit one.  Thanks!

[2021-02-20 21:48] warcrime96 commented on #313
im trying to make a pull request ,or push from intelij but gettin denied
can u quide me?

Στις Σάβ, 20 Φεβ 2021 στις 10:26 μ.μ., ο/η David Poindexter <
notifications@github.com> έγραψε:

[2021-02-21 17:09] warcrime96 commented on #313
It keep rejecting the pull request ,i am ready to commit though,i think i successfully made the needed changes

[2021-02-21 18:27] david-poindexter commented on #313
@warcrime96 it looks like this is your branch:
https://github.com/warcrime96/nvQuickSite/tree/patch-1

If that is correct, you would go here to create a pull request:
https://github.com/warcrime96/nvQuickSite/pull/new/patch-1

That said, it does not look like [the directions here](https://github.com/nvisionative/nvQuickSite/issues/313#issuecomment-778366829) were followed.  You will need to update

[2021-03-04 17:07] malonzo-77 commented on #317
Hi David, I have received the exact same error as above. However, I did try the above answer with no avail. I've uninstalled IIS Express and re installed it as well as my SQL Server Express 2012 and 2017.

[2021-03-04 20:24] valadas commented on #317
I don't think this tool expects to work with IIS Express, I think you need full IIS working, right @david-poindexter  ?

If that is the case, you will need to go into "Turn Windows Features On and Off" in the start menu and add IIS, for Dnn after that you will probably need after IIS is installed to add the UrlRewrite IIS module which I believe is not installed by default.

[2021-03-04 20:49] malonzo-77 commented on #317
Hi Daniel,

I was able to get it working. Yes, unfortunately I had to uninstall and reinstall IIS Express. I did have to go into "Turn Windows Features On and Off" in the start IIS, then in Visual Studio go under Tools -> Options -> Projects and Solutions -> Web Projects - "Use the 64 bit version of IIS Express for websites and projects" and check that. Then that error went away and am able to run

[2021-03-04 21:45] david-poindexter commented on #317
Correct @valadas it is not intended to work with IIS Express.  These are a bit outdated, but [check out the requirements here](https://nvquicksite.com/Requirements).

[2021-04-29 19:22] mbuelsing opened #319 "Add support for Max File Upload Size Setting"
Would it be possible (and desirable) to add the ability to increase the max file upload size to the nvQuickSite App?

I am approaching it from the viewpoint of a user trying to get up and running quickly. One of the things that I need to change on a new site most of the time is the upload file size limit. This is a very manual task that follows right after the easy, push-button experience of nvQui

[2021-04-29 19:26] david-poindexter commented on #319
Pretty much anything is possible.  The bigger question is "should it be there?"  My vote would be no because **nvQuickSite** is an "installer", not a "configuration tool".

If we put this feature in there, that could then lead to much more similar features, most likely based on things you can do via `web.config`.  Things like this are ways to quickly get to feature bloat.  I've seen it over and ov

[2021-04-29 19:42] mitchelsellers commented on #319
Personally, I strongly oppose editing this setting to anything larger than DNN defaults unless you have a specific and regular reason to make the change.

There are security implications of having this value set large, and the current DNN default value is already larger than traditionally recommended.

[2021-04-29 21:36] david-poindexter commented on #319
Thanks @mitchelsellers - I totally agree with you regarding these "best practices".  I think this is more about the option to change the setting rather than what should/shouldn't be used on a production website.

As a reminder to everyone, the intended use for this tool is for local development purposes only.  It is not recommended for use on a production server (though I realize many people do).

[2021-04-30 18:17] hismightiness commented on #319
I think a better solution for this is for individuals who (hopefully) know the impacts of things like this can pre-update their web.config and site template files in the installation package themselves to do things like this.

[2021-05-22 23:48] VashJuan opened #320 "Problem setting folder permissions for path..."
New Win 10 Pro laptop. Enabled IIS in Windows Features. Installed & ran NVQuickSite today. All goes well until I go past this screen & get the following error.
![5-22-2021 at 3 38 45 PM](https://user-images.githubusercontent.com/8594671/119243600-1e327100-bb1d-11eb-9ffa-0e630e9714f8.png)

I suspect it is because I had not installed SQL Server Express (do you check for that?!), but now that I have

[2021-05-22 23:50] david-poindexter commented on #320
@VashJuan hi - thanks for using `nvQuickSite`.  I would recommend going into settings and changing the level of logging and view the logs.  That should help isolate the error you are experiencing.

[2021-05-23 02:39] VashJuan commented on #320
Thanks David!

I just started over & rebooted & used a new website name & I think the last item got it through the end. Cool!

HOWEVER (always!), I now get

HTTP Error 500.19 - Internal Server Error
Error Code | 0x80070021
 when visiting the site. The <Handlers> line in web.config is highlighted.

Curses.

So looking that up leads to
https://docs.microsoft.com/en-us/iis/get-started/planning-for-se

[2021-05-23 15:23] david-poindexter commented on #320
@VashJuan several things for you to check.

1. Check to ensure you have IIS set up and configured correctly.  You may find [this blog post helpful](https://www.dnnsoftware.com/community-blog/cid/155489/iis-gotchas-when-installing-dnn).
2. Sometimes anti-virus software can get in the way and may need to be configured differently.  To help rule this out, you may want to try temporarily disabling it

[2021-05-23 17:37] VashJuan commented on #320
Bingo. I turned on a few items from the blog referenced above and it works!. I didn't track exactly which ones (of course, sorry) but ASP.NET 3.5 was NOT required.

Thx David!

[2021-05-23 17:37] #320 closed

[2021-05-23 17:38] david-poindexter commented on #320
Excellent - I am glad you got it figured out!

[2021-06-02 16:29] #314 closed

[2021-06-09 22:03] #317 closed

[2021-06-11 14:53] andrewdemos opened #321 "Some or all identity references could not be translated"
Hi there!

I have reviewed previous issues relating to the "Some or all identity references could not be translated" error, but I'm stuck.

Can someone provide tips on how to work around, or troubleshoot the issue?

2021-06-11 09:38:31.131 -04:00 [ERR] Error occured while attempting to set folder permissions
System.Security.Principal.IdentityNotMappedException: Some or all identity references coul

[2021-06-11 16:23] david-poindexter commented on #321
@andrewdemos are you by chance trying to do this within your user documents folder structure?  If so, I'd try it outside of that folder structure (due to special permissions that could be getting in the way there).

Do you have antivirus software installed (e.g., Kaspersky)?  If so, try doing this again with it temporarily disabled - just to see if it is getting in the way.

Lastly, I'd recommend

[2021-06-11 18:06] andrewdemos commented on #321
Hi David,

I am setting up a site in the default folder (C:\inetpub\wwwroot), and do not have any anti-virus running other than the standard windows Defender.

After switching from using (local) to the default named instance, I'm now seeing a different error:

2021-06-11 14:04:32.241 -04:00 [ERR] Error creating database sand1www
System.Data.SqlClient.SqlException (0x80131904): The CREATE DATABASE

[2021-06-11 19:15] david-poindexter commented on #321
Okay, sounds like a permissions issue with the user for the creation of the database.  The `CreateDatabase` requires access to the `master` database for the SQL Server instance.  Are you using `SQL Server Authentication` or `Windows Authentication`?

[2021-06-11 19:20] andrewdemos commented on #321
Windows Authentication

[2021-06-11 20:21] andrewdemos commented on #321
Unfortunately, I'm able to create a new database using my Domain account - but not when running nvQuickSite.  How does "NT Service\MSSQLSERVER" get used when creating a database?  Could the default instance be playing a factor in the error thrown?

[2021-06-11 20:27] david-poindexter commented on #321
Here is the code that creates a database:
https://github.com/nvisionative/nvQuickSite/blob/41494e3a0baba7fe443cd37c83ecc880fbf9ec46/nvQuickSite/Controllers/DatabaseController.cs#L128-L178

Can you try using your SQL Server `sa` account from within nvQuickSite and see if that has a problem too?

Also, did you increase your logging level in nvQuickSite settings and see if anything in the logs would

[2021-06-15 12:34] andrewdemos commented on #321
Hi David,

I get a CREATE DATABASE error after enabling sa as well:

2021-06-15 08:30:35.216 -04:00 [ERR] Error creating database sand1www
System.Data.SqlClient.SqlException (0x80131904): The CREATE DATABASE statement failed. The primary file must be at least 1024 MB to accommodate a copy of the model database.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean break

[2021-06-15 12:54] andrewdemos commented on #321
Hi David - just a quick update.  It turns out that the database had indeed been set up with a 1,024 MB model database (as opposed to the usual ~10 MB) - so that was a valid error message!  I have now resized the model database, and nvQuickSite is working!

Thanks very much for your help!

Andrew

[2021-06-15 13:30] MarvM3 opened #322 "Error Message: Problem setting the folder permissions"
Greetings,

I'm attempting to do a local install of DNN using nvQuickSite. I'm getting an error message: Problem setting the folder permissions.

I see an old issue here regarding that kind of problem, but reading it was of no help to me.

To get a full description of the problem I'm having, read the forum topic I created at:

https://dnncommunity.org/forums/aft/2511#6954

And, the log file descri

[2021-06-15 17:40] david-poindexter commented on #321
@andrewdemos oh wow - that is good to know and I am glad to hear you got it all working!  Enjoy **nvQuickSite** - it's a huge timesaver once you get your environment prereqs in place!  😃👍🏼

[2021-06-15 17:40] #321 closed

[2021-06-15 18:02] david-poindexter commented on #322
@MarvM3 thank you for posting this issue.  It is a fairly common issue that people run into when first getting their local environment set up to run DNN.  Can you check https://www.nvquicksite.com/Requirements to make sure your system meets the minimum requirements?

If I had to venture a guess, I'd say maybe IIS is not configured properly.  You may find [THIS ARTICLE](https://www.dnnsoftware.com/

[2021-06-15 18:27] andrewdemos commented on #321
Thanks, David - I thought I'd leave you with an idea to check that the database sizing fits with what's done (attempted) in the create database function.  Thanks again!

[2021-06-15 23:16] MarvM3 commented on #322
Pre-Reqs and running SQL Server:

Windows 10 Pro...all the latest updates are installed.

I'm only running MS Defender for virus software. I haven't had any problems with all the stuff I install and run with Defender on the system. Is there something I need to do with it before doing the DNN install?

Microft SQL Server 2017 Express...I have a db I created and have been accessing via a MS Visual S

[2021-06-15 23:23] MarvM3 commented on #322
Oops...the log file:
[log-20210615.txt](https://github.com/nvisionative/nvQuickSite/files/6659258/log-20210615.txt)

[2021-06-15 23:30] david-poindexter commented on #322
@MarvM3 I highly recommend not removing IIS sites manually, but rather using nvQuickSite "View Existing Sites" delete feature.  The error you posted has to do with not everything being removed properly (most likely the associated appPool in this case).  Please try to create a new "clean" site (using a different site and database name).  If that works, all is well.  You should clean up any other si

[2021-06-16 00:02] MarvM3 commented on #322
Thanks for the head's up on that, Dave.  I did use the IIS Manager to do the deletes, so I thought that wold be OK.

We'll start over with different names on everything and see what happens.

I'm attaching a pix of the App Pool. A couple of those are residual stuff, no longer used. Can I (safely) stop and remove them using the IIS Manager?

![DNN install - folder permissions error 5](https://user-

[2021-06-16 00:20] MarvM3 commented on #322
Started over again, again. Same problem I originally reported with the Permissions thing.

Here's the log file. From the looks of it...I'm going backwards!

[log-20210615 - Newest Log.txt](https://github.com/nvisionative/nvQuickSite/files/6659432/log-20210615.-.Newest.Log.txt)

[2021-06-19 18:16] david-poindexter commented on #322
@MarvM3 from what I can see from the logs, it is most likely failing to set permissions on the IIS "Logs" folder that gets created by nvQuickSite.  Here is the section of code that is most likely where the errors are occurring (though the catch is in the SetFolderPermissions method).
  https://github.com/nvisionative/nvQuickSite/blob/41494e3a0baba7fe443cd37c83ecc880fbf9ec46/nvQuickSite/Controllers

[2021-06-19 19:16] MarvM3 commented on #322
Thanks, Dave. I'll change that SQL database server name and let you know
what happens.

On Sat, Jun 19, 2021 at 12:17 PM David Poindexter ***@***.***>
wrote:

--
Marv Miller
***@***.***
bridgetoinfinity.com

[2021-06-19 20:58] david-poindexter commented on #321
Thanks @andrewdemos - if you'd like to log that idea as a separate issue, perhaps someone could pick it up as a new contribution.  Off the top of my head, I'm not sure exactly what's possible or not in this area.

[2021-06-26 02:43] leedavi commented on #322
I don't know if this is relevant, and even seems a little silly.....

Attempt 1: Everything worked correctly.
Attempt 2:  Failed to add permissions, error message?

I tried a number of times, still getting the error message.  I did obvious things like closing windows, stopping apppools/websites, etc.  I still got the error.

Between attempt 1 and 2 I edited the nvQuick Settings.  So I went into th

[2021-07-05 06:18] leedavi commented on #322
Retested this on a new different PC.   Got the same permission error.

I shutdown the AppPool, waited 1 min, then retried and it work.

Looks like it's caused by a lock from the AppPool or another program.

[2021-07-05 21:00] MarvM3 commented on #322
Greetings,

I've been stalling around on this...hoping for a concrete solution. I've
been thinking about doing a manual install. I'm wondering if I would
encounter the same problem doing it manually???

Stopping the App.Pool I don't know much of anything about the AppPool.  For
some reason I remember it was not a trivial matter to stop it...and then
restart it again. Anyone have a good "how to" li

[2021-07-06 03:33] david-poindexter commented on #322
@MarvM3 open PowerShell, Command Prompt, or terminal window of your choice.  (Run As Administrator). Then type `resetiis`.  This will restart IIS for you.  Otherwise, use IIS Manager to recycle the AppPool.

[2021-07-08 00:49] #319 closed

[2021-07-17 15:06] leedavi commented on #322
I've got this back on my home PC.  With the latest download.  It's a show stopper.  I honestly did try to get it working for 30mins, so I did it the manually, in 5 mins.

I love this install program, but this problem is a show stopper for me.

I did close IIS AppPool, but still go the error. So, I'm unsure it's that.

2021-07-17 17:01:48.207 +02:00 [INF] Creating site admintest.tosted.site in D:\N

[2021-07-17 16:14] david-poindexter commented on #322
@leedavi ping me up directly and let's schedule a time to jump on a Zoom call.  I'd like to help you with this.  Since it is a local environment issue, we are going to have to debug there.  Let me know when you have a bit of time and we'll try to solve the mystery.  😉👍

[2021-07-18 01:30] leedavi commented on #322
Hi David.

I thought I'd give a few different things a try before I call you.

Here is the strange thing.  It worked EVERY time I tried.  I couldn't make it fail.

I'm unsure what windows is doing here, but it looks like a lock that clears at some point.  I didn't even reboot my PC, just let it go to sleep.

Maybe nvQuickSite is locking the folder itself when it fails?

One thing I did notice is t

[2021-07-18 01:35] leedavi commented on #322
These entries are odd in the log....

1 - 2021-07-17 17:01:48.269 +02:00 [INF] admintest.tosted.site already in C:\WINDOWS\system32\drivers\etc\hosts
2 - 2021-07-17 17:01:48.269 +02:00 [INF] Creating file system directories for admintest.tosted.site
3 - 2021-07-17 17:01:48.269 +02:00 [INF] Deleting directory D:\Nevoweb\Websites\admintest\Website
3 - 2021-07-17 17:01:48.269 +02:00 [INF] Deleting di

[2021-07-18 01:39] leedavi commented on #322
Here is the log from one that worked....  (No Delete)

2021-07-18 03:22:38.679 +02:00 [INF] Application Started v2.1.0
2021-07-18 03:22:38.830 +02:00 [INF] Operating System information: Windows 10 Professional  10.0.19042.0
2021-07-18 03:22:41.198 +02:00 [INF] Loaded local packages
2021-07-18 03:22:41.919 +02:00 [INF] Internet appears to be online
2021-07-18 03:22:42.483 +02:00 [INF] Loaded remote

[2021-07-19 17:03] david-poindexter commented on #322
@leedavi nvQuickSite only deletes folders when you chose to overwrite an existing site.  It essentially wipes it out and then recreates it to keep things clean.  I honestly see nothing odd here.

[2021-07-20 03:07] leedavi commented on #322
OK, could be me just misunderstanding the log comments.  It seems to say "Create Folders" then "Delete Folders" and then "Add Permissions to Folders".  And yes I did select "Overwrite Existing".

[2021-07-20 14:27] david-poindexter commented on #322
Correct.  It attempts to create the various folders.  If they are not empty, then it will delete them and recreate them.

[2021-07-26 11:12] leedavi commented on #322
Here is some more feedback, after struggling again.

I think the issue is to do with the setup of the PC/Server.  In my Dev system I always use the ".Net45"AppPool on the root folder where I create all my dev websites.

If I try and install the website with it's own AppPool, I get this error.  If I use the Default AppPool and then change to my standard ".Net4.5", everything seems to work.

! other

[2021-07-26 15:06] david-poindexter commented on #322
@leedavi that would indeed explain the permissions issue if you are applying permissions for a custom app pool to higher level folders in a non-standard way.  The recommended way is to have a generic folder for all local dev instances, and then use site-specific app pools for each (or use DefaulAppPool if you prefer).  The key is to not apply app pool user permissions manually to folders at a high

[2021-07-27 02:49] leedavi commented on #322
@david-poindexter.  Yes, it makes sense.  I apply the AppPool like that for speed on my dev machine.  It would be no issue on our live servers.  I'll change my dev method to match our live systems.

OK on the field.  I understand what you're trying to do now.

Thanks.

[2021-08-17 18:12] valadas opened #323 "Sort versions by version instead of alphabetically"
Recently @EPTamminga reported on slack that the versions are not ordered by numbers.

I would be a nice improvement if we could cast the value to a `Version` object and sort it by version instead of just alphabetically before populating that dropdown.

[2021-08-17 18:17] valadas commented on #323
The `Version` class even has built-in methods for that.

[code]

This would sort them properly (1.10.0 after 1.2.3) and then we feed that sorted list into the dropdown.

[2021-08-17 18:39] david-poindexter commented on #323
Sounds great to me!

[2021-08-18 21:22] jeremy-farrance commented on #323
I had made a visual before I realized someone already posted the problem and solution. :)

![image](https://user-images.githubusercontent.com/653301/129973944-9ade95c7-008e-49d1-8954-48dedbbd2bbf.png)

[2021-08-18 22:40] hismightiness commented on #323
I kind of like it the way it is... It's more exciting, like an easter egg hunt.  ;)

[2021-08-24 07:04] JNSMAR043 commented on #322
Thanks for the responses, I'm having the same that @MarvM3 reported. I see the same error in my logs and haven't been able to get a site running with nvQuickSite.

[2021-08-24 07:19] leedavi commented on #322
@JNSMAR043   I suggest you try creating a new folder without permissions and then add the websites under that, using it's own apppool.

I've got it working every time now.

[2021-09-03 17:49] #313 closed

[2021-09-03 18:42] #315 closed

[2021-09-04 00:49] #323 closed

[2021-09-04 16:14] david-poindexter opened #328 "Update version to 2.1.1"
In preparation for the 2.1.1 release, the version number needs to be updated in all applicable areas.

[2021-09-04 16:16] david-poindexter opened #329 "Add v2.1.1 manifest for WinGet"
A new YAML file needs to be created for the 2.1.1 release and submitted to the `winget-pkgs` repo.

[2021-09-04 16:29] david-poindexter opened #330 "Clean up `using` statements outside namespace for `Packages.cs`"
`using` statements should be within `namespace`.

![image](https://user-images.githubusercontent.com/4568451/132101671-efe5d8a0-91ed-49e6-99bd-3a5c64811ba0.png)

[2021-09-04 16:42] #328 closed

[2021-09-04 16:42] #330 closed

[2021-09-04 16:51] #329 closed

[2021-09-07 15:47] hismightiness opened #334 "Unable to Install a New Site Due to Folder Permissions"
I just upgraded to the latest release, 2.1.1.  In previous versions, I had no issues installing on this same computer.  I just stepped through the wizard like magic.  In this release, I get to the end and receive a previously unseen error message about not being able to set the permissions of the local folder (see screenshot below).  I've included the log of the issue as well.

![image](https://us

[2021-09-07 15:57] WillStrohl opened #335 "Update Error Dialogs to Help with Next Steps"
It would be nice for error dialogs to have a helpful next step for end-users when they occur.

In the example below, the visitor is pretty much stuck.  They can only click OK and that's it.  If they're not technical, it's even a worse scenario for the end-user.

What I propose is maybe one or two additional buttons.

- Button 1:  Get Help - Clicking this button takes you to the GitHub Issues area

[2021-09-07 15:59] hismightiness commented on #335
Just an idea...  Maybe a future update for this feature could include connecting directly to the GitHub API to automatically see if there is currently an open issue that includes the same text.  If the issue can be reported, then the API connection could allow for the log and other troubleshooting details to be automatically inserted into a new issue.

[2021-09-07 16:05] hismightiness commented on #334
You're going to love this...  I tried several times, including a few more than usual to help report an idea and this issue.  I got done doing that and just clicked the button again - just for the heck of it...

It's working again all of a sudden!  😆 🤣 🤦🏽‍♂️

[2021-09-07 16:19] david-poindexter commented on #334
Just a theory here, but could the local website that you were replacing have been accessed within the 20-minute period prior to the new installation attempt?  I am wondering if there was a locked file and/or database connection.  These kinds of issues are really hard to address due to their seemingly random nature and our inability to reproduce them at will.  That said, we know some tender love an

[2021-09-07 16:22] hismightiness commented on #334
In this case, I hadn't yet used that path & version on this computer, so it's not likely a locked file (due to previous access, at least).

Since these kinds of oddities might happen a lot and for various reasons, it might be useful to have a debug/logging feature that adds more details to the log file.  🤷🏽‍♂️

[2021-09-07 16:30] david-poindexter commented on #334
According to the log entries you shared, that site and folder already existed.

[code]

As far as logging levels, these are already possible via nvQuickSiteSettings.

![image](https://user-images.githubusercontent.com/4568451/132379647-8f17da85-aab9-4160-a0dd-348ff10c402f.png)

Switching to "Verbose" will give you the greatest level of logging.

[2021-09-07 20:44] hismightiness commented on #334
Yes, in that instance, it already existed, but only because it was like the 5th time clicking the button.  😄

I didn't know about the verbose option.  I'll try to remember that next time.  Thanks!  :)

[2021-09-08 23:39] david-poindexter commented on #335
Great ideas @hismightiness 🥇

[2021-09-18 03:02] david-poindexter commented on #171
@EPTamminga et al...
I recently made the switch to Kaspersky.  Here are my findings.  I know this is an old issue, but I thought my findings may help others.  Here is what I had to do in order to effectively use nvQuickSite with Kaspersky still running.  I don't like the idea of disabling it just to run an app.  😉

First, go to Settings:
![image](https://user-images.githubusercontent.com/4568451/1

[2021-09-18 03:03] david-poindexter commented on #322
@MarvM3 @leedavi et al...
I recently made the switch to Kaspersky.  Here are my findings.  I know this is an old issue, but I thought my findings may help others.  Here is what I had to do in order to effectively use nvQuickSite with Kaspersky still running.  I don't like the idea of disabling it just to run an app.  😉

First, go to Settings:
![image](https://user-images.githubusercontent.com/4568

[2021-09-18 03:04] #322 closed

[2021-09-18 06:29] EPTamminga commented on #171
That is What we did to get it working.

[2021-09-20 19:34] hismightiness commented on #322
I had to do that, and allow the editing of the `HOSTS` file as well.

[2021-09-20 19:35] hismightiness commented on #171
In my case, I also had to allow the `HOSTS` file to be edited.

[2021-10-24 15:10] dhassall opened #336 "Version Selection list expands after each use"
Hi

It appears that each time I open NVQ it increases the entries in the drop down list for versions

![image](https://user-images.githubusercontent.com/42371437/138600069-af710924-9787-480d-bb0f-2a909a3a0b16.png)

Dave

[2021-10-25 19:30] tksheppard opened #337 "Permissions Error in Windows 11."
Possibly related to #334 .

Clean install of Windows 11, SQL Server 2019, IIS 10, nvQuickSite 2.1.1.

![image](https://user-images.githubusercontent.com/33320405/138757707-0c9ce668-fe8e-49eb-bfd3-0a82321feef7.png)

I've tried changing the log settings, but it does the same warning each time. Closing the alert and clicking next also doesn't work (I tried lots of times).

Here is the log error:
[cod

[2021-10-27 17:17] #336 closed, assigned to nobody

[2021-10-27 22:55] #337 closed, assigned to david-poindexter

[2021-10-31 17:28] david-poindexter opened #340 "Update version to 2.1.2"
In preparation for the 2.1.2 release, the version number needs to be updated in all applicable areas.

[2021-10-31 17:59] david-poindexter opened #341 "Migrate from FxCop analyzers to .NET analyzers"
Migrate from FxCop analyzers to .NET analyzers

[2021-10-31 18:18] david-poindexter opened #342 "Address StyleCop and CodeAnalysis warnings"
Address StyleCop and CodeAnalysis warnings

[2021-10-31 18:23] #341 closed

[2021-10-31 20:57] #342 closed

[2021-10-31 21:01] #340 closed

[2021-11-25 23:07] skarpik opened #347 "Set Folder Permissions Error"
I have been using nvQuickSite v.2.1.1.0 on Windows 10 Pro with  SqlExpress v13.0.1742. - everything works perfectly.

I am migrating to a new computer with Windows 11 Pro and SqlExpress v15.0.2080. Unfortunately, nvQuickSite fails for both v2.1.1.0 and 2.1.2.0 (error messages are attached).

For both computers, the websites are being installed on the D:\ drive (the C:\ drive is a smallish SSD).

A

[2021-11-26 00:33] david-poindexter commented on #347
@skarpik can you enable verbose logging and see if that provides more insight?  I am using it on Windows 11 just fine, but not on a separate partition and not SQL Express.  If you have a named instance, then you won't be able to use "(local)".  Not sure if that is an issue or not, but thought I'd mention it.

[2021-11-27 00:01] skarpik commented on #347
Mystery solved. For my SQL server, I had the name (local)\SQLEXPRESS (and nvQuickSite fails). However, if I use the name OMEN2\SQLEXPRESS where OMEN2 is the machine name, then everything works perfectly. Thanks.

[2021-11-27 00:01] #347 closed

[2021-11-27 00:36] david-poindexter commented on #347
Awesome @skarpik - we could probably do a bit better in the app to provide in-context help for stuff like this.

[2021-12-07 22:42] WillStrohl commented on #347
Ugh... This is happening to me too on Windows 11.  It never happened before.  I also had to change the server name.  I've tried the original `(local)` that was already there and in use since I first installed nvQuickSite.  I also tried the other common version of this where `.` also means `(local)` and `(localhost)`.  Non-technical people will not figure this out easily and technical people may no

[2021-12-08 04:20] valadas opened #348 "Shows release candidate after the RC is no longer an RC"
At the time of writing this, DNN 9.10.2 is out (no longer an RC), however, in nvQuickSite it is still listed in the RC category and not in the DNN 9 category:

![image](https://user-images.githubusercontent.com/6371568/145147531-e1d7a85c-56c3-41de-a002-e5092b892817.png)

![image](https://user-images.githubusercontent.com/6371568/145147545-5718e936-17be-4fc9-882e-cb1ed0808d0f.png)

My guess is that

[2021-12-08 04:46] #348 closed

[2021-12-10 07:18] skarpik opened #350 "Error deleting multiple websites"
nvQuickSite version: 2.1.2
OS: Windows 10 Pro

While deleting a number of websites, I came upon a problem. The first website deletes OK but deleting a second website causes an error (see jpeg below). By closing nvQuickSite, reopening and starting the deletion process again, the deletion finishes up correctly.

I suspect what is happening is that when nvQuickSite modifies the hosts file in the proc

[2021-12-10 15:36] david-poindexter commented on #350
@skarpik I had a similar issue to this and discovered it was my Antivirus software (Kaspersky) that needed a rule to allow access to this file.  Perhaps that is what you are running into?  If you search the issues here for `Kaspersky` you should find details on how I resolved it.

[2021-12-10 15:38] david-poindexter commented on #350
See #171

[2021-12-16 02:21] Senyors opened #351 "Install nvQuickSite on Windows 11"
I just purchased a new Dell Inspiron running Windows 11 and I need to set up a DNN instance. Running nvQuickSite, I soon get the following error:

![image](https://user-images.githubusercontent.com/6136932/146296001-5fb43732-240e-4421-b15a-ab7c7eaef54b.png)

Is Windows 11 not supported? Am I perhaps doing something wrong?

[2021-12-16 02:30] david-poindexter commented on #351
@Senyors yes, nvQuickSite works great on Windows 11 - just be sure you meet [the minimum requirements](https://www.nvquicksite.com/Requirements).

[2021-12-16 02:48] Senyors commented on #351
Thanks, David. I have VS 2022 installed along with SQL Server 2019, but I didn't have IIS installed. After doing that, I'm now getting a permissions issue...

![image](https://user-images.githubusercontent.com/6136932/146298522-77470485-b918-4568-b550-a62250a0f2e4.png)

Any ideas what that may be? It seems strange that it wants a path to the database.

I've used nvQuickSite dozens of times in the

[2021-12-16 02:58] david-poindexter commented on #351
@Senyors I would recommend trying to install outside of your user directory to avoid potential permissions issues due to the "specialness" of those folders.

You can also enable verbose logging in nvQuickSite settings to look closer at the logs for clues.

Are you running the latest version of nvQuickSite?

Also, what are you using for your database server name?  If you are using `(local)` this ca

[2021-12-16 03:01] Senyors commented on #351
Your last suggestion worked for me--I had to enter the actual name of the database instance. DNN installed, but when trying to run the new site, I get this error:

![image](https://user-images.githubusercontent.com/6136932/146300333-248220ab-b2e3-46b7-9aff-04ecc0635c25.png)

[2021-12-16 03:05] david-poindexter commented on #351
I'd recommend installing outside your "Users" folder to avoid a plethora of issues that can occur there.

Also, you want to make sure IIS is properly configured.  [This article](https://www.dnnsoftware.com/community-blog/cid/155489/iis-gotchas-when-installing-dnn) may help.

[2021-12-16 03:16] Senyors commented on #351
Thanks for all the help, David. The article was required reading; after checking all the boxes featured in the article on my own PC, nvQuickSite ran perfectly and the site is now up and running. I'll close this issue, as it was all my own ignorance with Windows 11.

[2021-12-16 03:16] #351 closed

[2021-12-16 03:23] david-poindexter commented on #351
Awesome - so glad you are up and running now - welcome to Windows 11. 😊👍🏼

[2021-12-16 03:25] Senyors commented on #351
Thank you sir! And what an honor to chat with a legendary person in the DNN realm--thank you again for the quick and extremely helpful response!

[2021-12-16 03:44] david-poindexter commented on #351
@Senyors I can assure you the pleasure is all mine sir!  This DNN Community rocks!

[2022-01-10 22:02] skrantzman opened #352 "Accommodation for SQL Express Named Instance"
Hey David, more of a question than an issue.

When someone installs SQL Server Express, there are two options, Default (MSSQLSERVER), and Named (SQLEXPRESS).  One would think that during an install, Default would be the selected option, but in Microsoft's infinite wisdom, they chose to make Named the default option instead of Default. Really kind of funny if you ask me, but if your not paying atte

[2022-01-10 23:04] WillStrohl commented on #335
Still thinking this (or something like it) is a good idea.  :)

[2022-01-10 23:08] david-poindexter commented on #335
@WillStrohl I absolutely agree.  This is on my really long wishlist.  😀👍🏼

[2022-01-10 23:10] david-poindexter commented on #352
@skrantzman thank you for posting this.  It certainly gives me an idea as to how to improve the user experience.  We'll leave this issue open to track progress.

[2022-01-12 17:48] WillStrohl opened #353 "Support localhost SSL certificates?"
In my environment, I always build and test websites using SSL, so I don't run into any surprises when we push code to production where SSL is almost certainly there.

I don't know if this is possible, but it would be nice if behind the scenes, nvQuickSite:

1. Determines if the current site might be a localhost site (e.g., not .com or other TLD).
2. If this might be a localhost domain, look for a

[2022-01-12 17:54] david-poindexter commented on #353
@WillStrohl I think this is a great suggestion.  Since there are so many use cases for "non local" domain usage (since it really doesn't matter locally with the HOST file being updated to accommodate any domain), I think it would be best to add this as an option (perhaps a "sticky" user pref like many of the other fields) to the wizard experience.  I think it could possibly be as simple as an `Ena

[2022-01-12 17:56] WillStrohl commented on #353
I think that could work.  Maybe we let this sit for a bit to let someone else give an opinion as well?

[2022-02-11 08:27] leedavi opened #354 "Admin Rights?"
The code here forces Admin rights...

https://github.com/nvisionative/nvQuickSite/blob/41494e3a0baba7fe443cd37c83ecc880fbf9ec46/nvQuickSite/Program.cs#L54-L74

But when I start the program on one of our servers (as administrator user) nvQuick does not have the rights to add permissions and I do not get a message.

If I purposely "Run as Administrator" it works.

This is no problem, unless I forget

[2022-02-12 01:24] david-poindexter commented on #354
@leedavi can you do us a favor here and do the following?

* Run nvQuickSite as administrator (manually)
* Go into the `nvQuickSite Settings`
* Change the logging level to `Verbose`
* Save
* Close nvQuickSite
* Relaunch nvQuickSite (without manually running as administrator)
* Got back into `nvQuickSite Settings`
* Click `View Logs`
* Find log file for the current day and search for the applicable

[2022-02-12 05:28] leedavi commented on #354
Hi David.  True to form... it worked this time.

I do see this in the original logs...

2022-02-09 16:10:20.595 +01:00 [ERR] Error occured while attempting to set permissions for IIS APPPOOL\catalog.rockettest.me_nvQuickSite on folder C:\NEVOWEB\WebsiteBuild\catalog.rockettest.me\Website
System.Security.Principal.IdentityNotMappedException: Some or all identity references could not be translated.

[2022-02-12 15:53] david-poindexter commented on #354
What version of nvQuickSite are you running?  Is it the latest release?  This seems to be a different issue altogether that has been resolved in a later release.

[2022-02-12 15:54] david-poindexter commented on #354
This is the latest release, 2.1.2 - https://github.com/nvisionative/nvQuickSite/releases/tag/v2.1.2

[2022-02-13 07:04] leedavi commented on #354
It is 2.1.2.  I send you the logs by email.

[2022-02-15 00:28] david-poindexter commented on #354
Interesting.  I honestly do not know why you are experiencing what you are experiencing.  I am unable to reproduce the issue.  We could try to get on a Zoom some day and I can add some more logging to see if we can narrow it down, but I think the quick solution to your specific use case is to do the following:

* Pin nvQuickSite to your taskbar
* Right-click on pinned nvQuickSite app and go to Pro

[2022-02-15 04:44] leedavi commented on #354
Yes, I don't think it's worth the time to chase this.

Like I said "Run as Administrator" always seems to work.

Maybe a clash with our security setup, but it's not a problem.  I thought I'd let you know in case anyone else experiences this.

[2022-02-15 04:44] #354 closed

[2022-02-15 04:47] david-poindexter commented on #354
Thanks so much for posting this here just in case anyone else is experiencing it.  We are happy to reopen and investigate it further should the need arise.  Cheers mate!

[2022-03-08 18:07] #350 closed

[2022-04-14 13:17] leedavi opened #355 "Duplication of version in dropdoen"
The dropdown for version has duplicate versions.   Each time nvQuickSite is opened there seems to be another duplicate added.

![image](https://user-images.githubusercontent.com/5583141/163398880-871289c2-d557-457f-8ee7-de35ef7c04d4.png)

[2022-04-14 13:27] david-poindexter commented on #355
@leedavi this issue was resolved a while back.  Have you upgraded to the latest version of nvQuickSite?

[2022-04-15 04:46] leedavi commented on #355
Wow.. very Sorry David. I totally zapped the big green button!!  I thought I was on the latest version.

I've upgrade and it's all OK.

P.S. When I download from GitHub I get some very seriously loud "DO NOT RUN" messages form windows.

[2022-04-15 04:46] #355 closed

[2022-04-15 05:26] david-poindexter commented on #355
No worries mate - just glad you got it sorted!

[2022-06-22 18:33] jldelatorre opened #356 "Error with permissions"
Hi everyone. I stumbled with this error in the final step for installing DNN. It seems to be a permissions problem. And tried by open nvQuickSite as administrator and get the same result.

![nvquickError](https://user-images.githubusercontent.com/81640907/175109720-110bcfe6-e649-4fa9-920e-57a62a3f9766.png)

[2022-06-22 18:39] WillStrohl commented on #356
Hey @david-poindexter ...  I took a quick look at this myself and didn't notice anything obvious.  Do you know of any quick troubleshooting steps we can take to resolve this for @jldelatorre?

[2022-06-22 18:41] david-poindexter commented on #356
@jldelatorre this is quite the common error people experience from time to time with nvQuickSite and there are many reasons this can happen.  As a first step, I recommend going into nvquickSite Settings and enabling Verbose logging.  Re-run the installation attempt and review the logs to see if there is more insight on what may be causing the issue.

[2022-06-22 19:50] jldelatorre commented on #356
@david-poindexter thanks for the feedback. I enabled the verbose login and run to the same error. Here is the complete error log:
2022-06-22 15:44:23.422 -04:00 [ERR] Error occured while attempting to set permissions for NT Service\MSSQLSERVER on folder D:\Web\NvQuick\testsite\Database
System.Security.Principal.IdentityNotMappedException: Some or all identity references could not be translated.

[2022-06-22 21:15] WillStrohl commented on #356
I'm trying to get the entire log from @jldelatorre .  In the meantime, please know this is happening on an AWS WorkSpace - but we have other WorkSpaces that don't have this issue.  This is the only one.  So, it might simply be a configuration issue.  If we find the resolution, we'll post it here.

If anyone else has a potential fix in the meantime, we'd appreciate any suggestions.  :)

[2022-06-22 21:25] david-poindexter commented on #356
@jldelatorre and @WillStrohl are you using a named instance for MSSQL server or are you trying to use something like `(local)`.  If you have multiple SQL Server instances, you may need to ensure you are using a named instance.

[2022-06-22 21:27] david-poindexter commented on #356
Oh, and just one more idea.  Are you using Kaspersky by chance?  If so, perhaps try temporarily disabling it during the installation to see if it is perhaps intercepting some action.  I randomly run into this issue despite putting exceptions in place within Kaspersky config.

[2022-06-23 14:54] WillStrohl commented on #356
Good question, David.  In this case, Kaspersky wouldn't be getting in the way.  The computer in question only has Microsoft Defender on it, I believe.

I've looked at the log file myself.  I don't see much at first glance, except the database folder permission error already pasted and the one mentioned below.  In the case of the permissions error that is keeping us from using this, it happens what

[2022-06-23 20:35] david-poindexter commented on #356
@WillStrohl that error means nvQuickSite is having trouble connecting with GitHub.  Here is the section of code that handles that.

https://github.com/nvisionative/nvQuickSite/blob/develop/nvQuickSite/Controllers/PackageController.cs#L145-L164

I would recommend trying to access the URL (https://raw.githubusercontent.com/nvisionative/nvQuickSite/main/nvQuickSite/data/packages.json) directly via th

[2022-06-29 12:58] leedavi opened #358 "Check if URL in host.ini"
It would be nice if a URL already existed in host.ini, it was not added again,

[2022-06-29 13:17] leedavi commented on #358
Sorry, I think it already does.  This was me not saving the host.ini before running nvQuickSite

[2022-06-29 13:17] #358 closed

[2022-08-11 04:45] skarpik opened #359 "Problem with new install"
I'm trying to track down some bugs in 2sxc, so I thought I'd set up a DNN website on one of my Windows 10 computers (I've been using nvQuickSite and 2sxc on Windows 11).

I installed SQLExpress on my Windows 10 computer. Created an admin user. Then ran nvQuickSite and got this error:

![nvquicksite error](https://user-images.githubusercontent.com/3846223/184066094-de1d5486-8438-4a75-9dc8-e9975baf0

[2022-08-11 06:24] david-poindexter commented on #359
@skarpik can you set logging to verbose in nvQuickSite and see if that provides any clues?

[2022-08-11 16:33] skarpik commented on #359
Sure. Where do I turn the logging on?

[2022-08-11 23:31] valadas commented on #359
You would have to first click on settings (orange bottom-left box)
![image](https://user-images.githubusercontent.com/6371568/184259217-d74f41f5-b82b-4a61-a2ea-21177dad3cd5.png)

And then you can raise the logging level and click the link to get to the log files after reproducing the issue.
![image](https://user-images.githubusercontent.com/6371568/184259268-4a9113cc-3590-40a4-8859-730744439e65.pn

[2022-08-12 00:29] valadas commented on #359
Also, did you install IIS on that computer ?

[2022-08-15 17:21] skarpik commented on #359
@valadas - thank you for pointing out the settings. I don't know how I missed that.

I have been busy on other github issues and just got back to this one this morning. I set things up to duplicate the error but this time with more diagnostics. And what happened? It worked perfectly. I then tried again with the regular level of logging. And it worked perfectly. It reminds me of what happens when y

[2022-08-15 17:21] #359 closed

[2022-10-30 09:31] #356 closed

[2022-10-30 09:32] #352 closed